{:entities
 {:cartographer.entity/employee
  {:namespace :cartographer.entity/employee,
   :added-in-app? true,
   :ns-attrs
   [{:added-in-app? true,
     :references-namespaces (:cartographer.entity/name),
     :ident :employee/name,
     :attribute? true,
     :cardinality :db.cardinality/one,
     :doc "employee name reference",
     :namespace :cartographer.entity/employee,
     :value-type :db.type/ref,
     :deprecated? false}
    {:unique :db.unique/identity,
     :added-in-app? true,
     :ident :employee/email,
     :attribute? true,
     :cardinality :db.cardinality/one,
     :doc "Email address",
     :namespace :cartographer.entity/employee,
     :value-type :db.type/string,
     :deprecated? false}
    {:namespace :cartographer.entity/employee,
     :added-in-app? true,
     :ident :employee/phone,
     :value-type :db.type/string,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "Phone number"}
    {:added-in-app? true,
     :references-namespaces (:cartographer.entity/picture),
     :ident :employee/picture,
     :attribute? true,
     :cardinality :db.cardinality/one,
     :doc "employee picture reference",
     :namespace :cartographer.entity/employee,
     :value-type :db.type/ref,
     :deprecated? false}],
   :doc "an employee"},
  :cartographer.entity/name
  {:namespace :cartographer.entity/name,
   :added-in-app? true,
   :ns-attrs
   [{:namespace :cartographer.entity/name,
     :added-in-app? true,
     :ident :name/title,
     :value-type :db.type/string,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "employee title"}
    {:namespace :cartographer.entity/name,
     :added-in-app? true,
     :ident :name/first,
     :value-type :db.type/string,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "employee first name"}
    {:namespace :cartographer.entity/name,
     :added-in-app? true,
     :ident :name/last,
     :value-type :db.type/string,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "employee last name"}],
   :doc "employee names",
   :referenced-by [:cartographer.entity/employee]},
  :cartographer.entity/picture
  {:namespace :cartographer.entity/picture,
   :added-in-app? true,
   :ns-attrs
   ({:namespace :cartographer.entity/picture,
     :added-in-app? true,
     :ident :picture/small,
     :value-type :db.type/uri,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "small picture uri"}
    {:namespace :cartographer.entity/picture,
     :added-in-app? true,
     :ident :picture/medium,
     :value-type :db.type/uri,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "medium picture size uri"}
    {:namespace :cartographer.entity/picture,
     :added-in-app? true,
     :ident :picture/large,
     :value-type :db.type/uri,
     :cardinality :db.cardinality/one,
     :attribute? true,
     :deprecated? false,
     :doc "large string uri"}),
   :doc "employee pictures",
   :referenced-by [:cartographer.entity/employee]}},
 :enumerations
 {:cartographer.enumeration/department
  {:namespace :cartographer.enumeration/department,
   :added-in-app? true,
   :ns-attrs
   ({:namespace :cartographer.enumeration/department,
     :added-in-app? true,
     :ident :department/engineering,
     :attribute? false,
     :deprecated? false,
     :doc "Engineering"}
    {:namespace :cartographer.enumeration/department,
     :added-in-app? true,
     :ident :department/marketing,
     :attribute? false,
     :deprecated? false,
     :doc "Marketing"}
    {:namespace :cartographer.enumeration/department,
     :added-in-app? true,
     :ident :department/hr,
     :attribute? false,
     :deprecated? false,
     :doc "Human Resources"}
    {:namespace :cartographer.enumeration/department,
     :added-in-app? true,
     :ident :department/legal,
     :attribute? false,
     :deprecated? false,
     :doc "Legal"}), 
   :doc "department the employee belongs to"}}}
